.topBar {
  background-color: #242424;
  display: flex;
  width: 100%;
  overflow: auto;
}

.jsButton,
.cssButton,
.htmlButton,
.playButton,
.closeButton {
  padding: 10px;
  font-size: 0.9rem;
  background-color: #242424;
  color: white;
  display: flex;
  flex-direction: row;
}

.closeButton {
  font-size: 1.2rem;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  font-weight: 700;
}

.htmlButton svg {
  color: rgb(248, 48, 48);
}

.cssButton svg {
  color: rgb(21, 130, 255);
}

.jsButton svg {
  color: rgb(243, 243, 16);
}

.playButton svg {
  color: rgb(46, 192, 46);
}

.closeButton svg {
  color: rgb(248, 48, 48);
}

.jsButton div,
.htmlButton div,
.cssButton div,
.playButton div,
.closeButton div {
  padding-right: 2px;
  margin: 1px;
}

.split {
  display: flex;
  flex-direction: row;
}

.editor {
  position: absolute;
}

.outputiframewindow {
  width: 50vw;
  height: 45vh;
  background-color: white;
}

.websiteWindow {
  position: absolute;
  z-index: 1;
  top: 30vh;
  left: 25vw;
}

.buttonBlock {
  background-color: #f0f4f4;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}
